*,
*:before,
*:after {
    @include box-sizing(border-box);
}//FTW

body {
    margin: 0;
    padding: 0;
    color: #000;
    font: 62.5%/1.3rem 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    text-align: left;
    background-size: 100% auto;
    overflow-y: scroll;
    background-color: #fdfdfd;
    background-color: $light-gray;
    @include breakpoint(tablet) {
        // background-image: url("../images/bg.jpg");
    }
 }

/* ==========================================================================
   Geral
   ========================================================================== */

a, button, li {
    @include transition( all 0.3s ease-out);
    &:hover, &:focus {
        @include transition( all 0.3s ease-in);
    }
}

::selection {
    color: #fff;
    background: $background;
}
