/* ==========================================================================
   Conteudo
   ========================================================================== */

.box-responsive {
    background: url(../images/skills/rensponsive.jpg) top center no-repeat;
    background-size: 100% auto;
}
.box-webdev {
    background: url(../images/skills/webdev.jpg) top center no-repeat;
    background-size: 100% auto;
}
.box-ux {
    background: url(../images/skills/ux2.jpg) top center no-repeat;
    background-size: 100% auto;
}