@import "compass/reset";
@import "compass/css3";
@import "_variaveis.scss";

*,
*:before,
*:after {
  @include box-sizing(border-box);
}

//FTW

body {
  margin: 0;
  padding: 0;
  color: #000;
  font: 62.5%/1.3rem 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-align: left;
  background-size: 100% auto;
  overflow-y: scroll;
}

//text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;

/* ==========================================================================
   Geral
   ========================================================================== */

article,
a,
button,
li,
section,
div,
span,
h2 {
  @include transition(all 0.3s ease-out);

  &:hover,
  &:focus {
    @include transition(all 0.3s ease-in);
  }
}

#wrapper {
  padding-top: 55px;
}

.header {
  width: 100%;
  background: $background;
  @include box-shadow(0px 3px 5px rgba(0, 0, 0, 0.5));
  color: #fff;
  z-index: 10;
}

#nav {
  position: relative;
  clear: both;
  width: 100%;
  padding: 0px;
  background: #777;
}

.nav-item {
  display: block;
  border-top: 1px $background solid;
}

.nav-link {
  display: block;
  text-decoration: none;
  font-size: $txtP;
  padding: 15px;
  color: #fff;
  background: $backgroundLight;

  &:hover,
  &:focus {
    background: rgba(0, 50, 60, 0.5);
  }
}

.ico-nav {
  position: relative;
  float: right;
  width: 50px;
  height: 30px;
  right: 25px;
  top: 10px;
  //background: #ccc;
  display: block;
  cursor: pointer;
}

.main {
  position: relative;
  width: 100%;
  z-index: 1;
  background: #eee;
}

.box-content {
  padding-left: 5%;
  padding-right: 5%;
}

#social {
  padding: 5px 0 25px;
  text-align: center;

}

.social-item {
  display: inline-block;
  margin: 5px 10px;
  // position: relative;
  // overflow: hidden;
  // @include border-radius(100px);
}

.social-link {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  background: $background;
  color: #fff;
  padding: 0.7rem;
  @include border-radius(100px);

  &:hover,
  &:focus {
    background: $backgroundDark;
  }
}

.footer {
  position: relative;
  color: #fff;
  padding-top: 2%;
  padding-bottom: 2%;
  background: #ccc url("../images/background-js.jpg") top left;
  background-attachment: fixed;
  text-align: center;
  word-wrap: break-all;

  h2,
  h5,
  small {
    position: relative;
    z-index: 1;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include filter-gradient(#a60000, #000000, vertical); // IE6-9
    @include background-image(linear-gradient(top, rgba(0, 0, 0, .6) 0%, rgba(0, 0, 0, .3) 100%));
    z-index: 0;
  }
}

img {
  background: #555;
}

.about {
  position: absolute;
  top: 0;
  color: #fff;
  padding: 75px 0 25px;
  margin: 0 0 50px 0;
  text-align: center;
}

.job {
  position: relative;
  margin-bottom: 25px;
  // &:hover, &:focus {
  //     .job-description {
  //         @include opacity(1);
  //     }
  // }
}

.job-img {
  width: 100%;
  height: auto;
}

.job-description {
  display: none;
  /* Temp */
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background: $background;
  background: rgb(22, 160, 133);
  padding: 5%;
  text-align: center;
  @include opacity(0);
  @include box-shadow(0px 0px 5px 1px rgba(0, 0, 0, 0.5));

  p,
  a {
    color: #fff;
  }

  a {
    font-size: $txtPBig;
  }
}

.ico-text {
  display: block;
  position: relative;
  top: 30px;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  font-size: 5rem;
  line-height: 1.85em;
  text-align: center;
  background: $backgroundLight;
  color: $backgroundDark;
  @include border-radius(9999px);
  @include box-shadow(0px 0px 15px 1px rgba(0, 0, 0, 0.75));
}

.box-cover {
  background: $background;
  border-top: 5px $background solid;
}



@import "_grid-flex.scss";
@import "_texts.scss";
@import "_content.scss";
@import "_responsive.scss";
@import "_fonts.scss";


::selection {
  color: #fff;
  background: $background;
}
