@import "compass/css3";

/* Base */
@import "_variaveis.scss";
@import "base/_base.scss";

/* Layouts */

@import "layout/_header.scss";
@import "layout/_footer.scss";

/* pages */

// @import "";

/* sections */

// @import "";

/* ui */

@import "ui/_fonts.scss";
@import "ui/_texts.scss";


#wrapper {
    padding-top: 55px;
}


.main {
    position: relative;
    width: 100%;
    z-index: 1;
    background: #eee;
}
.box-content {
    padding-left: 5%;
    padding-right: 5%;
}
#social {
    padding: 5px 0 25px;
    text-align: center;

}
.social-item {
    display: inline-block;
    margin: 5px 10px;
    // position: relative;
    // overflow: hidden;
    // @include border-radius(100px);
}
.social-link {
    display: inline-block;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    background: $background;
    color: #fff;
    padding: 0.7rem;
    @include border-radius(100px);
    &:hover, &:focus {
        background: $backgroundDark;
    }
}

img {
    background: #555;
}
.about {
    position: absolute;
    top: 0;
    color: #fff;
    padding: 75px 0 25px;
    margin: 0 0 50px 0;
    text-align: center;
}
.job {
    position: relative;
    margin-bottom: 25px;
    // &:hover, &:focus {
    //     .job-description {
    //         @include opacity(1);
    //     }
    // }
}
.job-img {
    width: 100%;
    height: auto;
}
.job-description {
    display: none;/* Temp */
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background: $background;
    background: rgb(22,160,133);
    padding: 5%;
    text-align: center;
    @include opacity(0);
    @include box-shadow(0px 0px 5px 1px rgba(0, 0, 0, 0.5));
    p, a {
        color: #fff;
    }
    a {
        font-size: $txtPBig;
    }
}
.ico-text {
    display: block;
    position: relative;
    top: 30px;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    font-size: 5rem;
    line-height: 1.85em;
    text-align: center;
    background: $backgroundLight;
    color: $backgroundDark;
    @include border-radius(9999px);
    @include box-shadow(0px 0px 15px 1px rgba(0, 0, 0, 0.75));
}
.box-cover {
    background: $background;
    border-top: 5px $background solid;
}



@import "_grid-flex.scss";
@import "_content.scss";
@import "_responsive.scss";

::selection {
    color: #fff;
    background: $background;
}
