/* ==========================================================================
   Variaveis
   ========================================================================== */

$background: #16a085;
$backgroundLight: #20ad91;
$backgroundDark: #00453f;

$link: #16a085;
$linkHover: #20ad91;

$txtP: 1.4rem !default;
$txtPBig: 1.8rem !default;
$txtSecoes: 4.5rem !default;