/* ==========================================================================
   Variaveis
   ========================================================================== */


// Colors
$color-primary: #16a085;// light green
$color-secondary: #333;// light green

$background: $color-primary;
$backgroundLight: #20ad91;
$backgroundDark: #00453f;

$color-link: $color-primary;
$color-link-hover: #20ad91;


// Texts
$txtP: 1.4rem !default;
$txtPBig: 1.8rem !default;
$txtSecoes: 4.5rem !default;


// Size
$pad-mobile: 5%;
$pad-tablet: 5%;
$pad-desktop: 5%;


$transition-in: 250ms;
$transition-out: 250ms;
