#articles {
}
.article-list {
}
.article-item {
    padding: 1em;
    background: rgba(0, 0, 0, .1);
    @include col(1);

    @include breakpoint(phablet) {
        @include col(1/2, 0, 2);
    }
    @include breakpoint(laptop) {
        @include col(1/3, 0, 3, 2);
    }
}
.article-img {
    width: 100%;
    height: auto;
}
.article-link {
}
