h1, h2, h3, h4, h5, h6 { font-weight: 400; }
h1 {
    font-size: 3rem;
    line-height: 1em;
    padding-top: 15px;
    @include text-shadow(-1px -1px 0 #2c3e50);
    a {
        color: white
    }
}
h2 {
    font-size: 2.2rem;
    line-height: 1.3em;
    color: $color-link;
    @include breakpoint(tablet) {
        font-size: 2.5rem;
    }
}
h3 {
    font-size: 1.8rem;
    display: inline-block;
    color: #444;
    line-height: 1.3em;
    text-align: center;
    & + p { margin: 10px 0 15px; }
}
h4 {
    font-size: 1.6rem;
    display: inline-block;
    color: $backgroundDark;
    line-height: 1.3em;
}
h5 {
    font-size: $txtP;
    line-height: 1.3em;
    color: #fff;
    padding: 1em 0 3em;
}
a {
    color: $color-link;
    text-decoration: none;
    &:hover, &:focus {
        color: $color-link-hover;
        text-decoration: underline;
    }
}
p {
    font-size: 1.4rem;
    line-height: 1.3em;
    margin: 15px 0;
    &.big {
        font-size: $txtPBig;
        margin: 25px 0;
    }
}
i, em { font-style: italic; }
b, strong { font-weight: 600; }
small {
    display: block;
    font-size: 1rem;
    padding-bottom: 1em;
}
