<header class="header pure-g" role="banner">
  <div class="wrapper">

    <h1 class="title">
      <a href="/" title="Home">GS</a>
      <button type="button" role="button" aria-label="Toggle Navigation" class="nav-button">
        <span class="lines"></span>
      </button>
    </h1>

    <nav id="nav" class="pure-u-1" role="nav">
      <ul class="nav-list">
        {% for page in site.pages %}{% if page.title %}
        <li class="nav-item"><a href="{{ page.url | prepend: site.baseurl }}" class="nav-link">{{ page.title }}</a></li>
        {% endif %}{% endfor %}
        <li class="nav-item"><a href="{{ " /feed.xml " | prepend: site.baseurl }}" class="nav-link">RSS</a></li>
      </ul>
    </nav>

  </div>
</header>
