<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}
            {{ page.title }} | {{ site.title }}
        {% else %}
            {{ site.title }}
        {% endif %}
    </title>

    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="keywords" content="developer, desenvolvedor, front-end, html5, javascript, css3, webmobile, responsivo, rj, rio de janeiro" />
    <meta name="author" content="Gabriel Sepulveda" />

    <!-- for Facebook -->
    <meta property='og:locale' content='pt_BR'/>
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="https://lh5.googleusercontent.com/-StJPyczR_sk/AAAAAAAAAAI/AAAAAAAAAnk/4hWbq5JZSvs/s120-c/photo.jpg" />
    <meta property="og:url" content="http://gabrielsepulveda.com.br/" />
    <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />

    <!-- for Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
    <meta name="twitter:image" content="https://lh5.googleusercontent.com/-StJPyczR_sk/AAAAAAAAAAI/AAAAAAAAAnk/4hWbq5JZSvs/s120-c/photo.jpg" />

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

    <link rel="author" href="https://plus.google.com/u/0/111231457098834630949"/>
    <link rel="icon" href="favicon.ico">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/assets/styles/screen.css" | prepend: site.baseurl }}">

</head>
