.footer {
    position: relative;
    @include center(100%, $pad-mobile);
    color: #fff;
    padding-top: 2em;
    padding-bottom: 1em;
    // background: #333 url("../images/background-js.jpg") top left;
    background-attachment: fixed;
    text-align: center;
    word-wrap: break-all;
    h2,
    h5,
    small {
        position: relative;
        color: #333;
        z-index: 1;
    }
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // @include filter-gradient(#a60000, #000000, vertical); // IE6-9
        // @include background-image(linear-gradient(top,  rgba(0,0,0,.6) 0%,rgba(0,0,0,.3) 100%));
        z-index: 0;
    }
}
