.header {
    @include cf;
    @include card-shadow;
    color: #fff;
    z-index: 10;
    background: $color-primary;
    overflow: hidden;
    .title {
        a { text-decoration: none; }
        @include breakpoint (tablet) {
            @include col(1/3);
        }
        @include breakpoint (laptop) {
            @include col(1/2);
        }
    }
    .h-tip {
        display: inline-block;
        float: right;
        width: 50px;
        height: 50px;
        background: $color-primary;
        border: 1px #fff solid;
        cursor: pointer;
        @include transition(all $transition-in ease);
    }
    .is-menufloated & .h-tip {
        position: fixed;
        top: 0;
        right: 0;
    }
    @include breakpoint(tablet) {
        .h-tip { display: none; }
    }
    @include breakpoint(laptop) {
        height: 100px;
    }
}
#nav {
    // background: #777;
    height: 0;
    overflow: hidden;
    margin-top: 15px;
    @include transition(height $transition-out ease);
    @include cf;
    @include breakpoint (tablet) {
        width: auto;
        height: auto;
        margin-top: 0;
        margin-right: 0 !important;
        @include col(2/3);
    }
    @include breakpoint(laptop) {
        @include col(1/2);
        margin-top: 23px;
        text-align: right;
        word-spacing: 0;
    }
    &.is-active {
        height: auto;
    }
    .nav-item {
        display: block;
        border-top: 1px $background solid;
        @include breakpoint(laptop) {
            display: inline-block;
            word-spacing: 0;
        }
    }
    .nav-link {
        display: block;
        text-decoration: none;
        font-size: $txtP;
        padding: 15px;
        color: #fff;
        background: $backgroundLight;
        @include breakpoint(laptop) {
            background: rgba(0, 0, 0, 0.05);
            padding: 15px 20px;
        }
        &:hover, &:focus {
            color: $color-primary;
            background: rgba(0, 50, 60, 0.5);
        }
    }
    .ico-nav {
        position: relative;
        float: right;
        width: 50px;
        height: 30px;
        right: 25px;
        top: 10px;
        //background: #ccc;
        display: block;
        cursor: pointer;
    }
}
