.post-page {
    padding: 2.5rem 0;
}
.post-header {
    padding: 1.3rem 0 1.5rem;
    h1 {
        padding: 0.4rem 0 1rem;
    }
    p {
        padding: 0;
    }
}

.share-list {
    font-size: 1.3rem;
    &:before {
        content: 'Compartilhe: ';
        color: #333;
    }
}
.share-item {
    display: inline-block;
}
.share-link {
    color: #333;
    margin-left: .35rem;
}


.post-comments {
    margin: 1.5rem 0 1.3rem;
}
