<header class="header box-content" role="banner">

    <h1 class="title">
        <a href="/" title="Home">Gabriel Sepulveda</a>
        <div class="h-tip"></div>
    </h1>

    <nav id="nav" role="nav">
        <ul class="nav-list">
            {% for page in site.pages %}{% if page.title %}
            <li class="nav-item"><a href="{{ page.url | prepend: site.baseurl }}" class="nav-link">{{ page.title }}</a></li>
            {% endif %}{% endfor %}
            <li class="nav-item"><a href="{{ " /feed.xml " | prepend: site.baseurl }}" class="nav-link">RSS</a></li>
        </ul>
    </nav>

</header>
