<header class="header box-content" role="banner">

    <h1 class="title"><a href="/" title="Home">GS</a></h1>

    <!--<div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>-->

    <nav id="nav" role="nav">
        <ul class="nav-list">
            <li class="nav-item"><a href="/" class="nav-link">Blog</a></li>
            <li class="nav-item"><a href="/projects" class="nav-link">Projetos</a></li>
            <li class="nav-item"><a href="/about" class="nav-link">Sobre</a></li>
            <li class="nav-item"><a href="{{ " /feed.xml " | prepend: site.baseurl }}" class="nav-link">RSS</a></li>
        </ul>
    </nav>

</header>
